{% extends 'base.html' %}


{% block titulo %}Bienvenido{% endblock %}

{% block contenido %}

<h1 class="text-center">Bienvenido {{user.first_name}}...  No Olvide Cerrar los Dias Trabajados </h1>
<br><br>
<h1 class="text-center">ACTUALIZACIONES EN EL SISTEMA</h1>
<br>
<p>Se agregó el modulo de Liquidar ventas por fecha "Liq_VenXFecha": Este modulo sirve para liquidar las ventas de acuerdo a la fecha seleccionada, cada vez que se liquida una venta esta desaparece de la lista y solo aparecen las ventas que aun no se han abonado para dicha fecha.</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
