{% extends 'base.html' %}


{% block titulo %}Bienvenido{% endblock %}

{% block contenido %}

<h1 class="text-center">Bienvenido {{user.first_name}}...  No Olvide Cerrar los Dias Trabajados </h1>
<br><br>
<h1 class="text-center">ACTUALIZACIONES EN EL SISTEMA</h1>
<br>
<br>
<p>+Se habilito la opción de editar y/o eliminar alguna venta</p>
<p>+Se habilito la opción para que los usuarios pueden agregar bases a su almacen</p>
<p>+Se habilito la opción para consultar los usuarios activos que no tienen ventas activas (Usuarios>Usuarios por renovar)</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
