{% extends 'base.html' %}
{% block contenido %}
{% load bootstrap %}
<link rel="stylesheet" href="/media/bootstrap/css/jquery-ui.css">
<link rel="stylesheet" href="/media/bootstrap/css/general.css">

<script src="/media/bootstrap/js/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
  dateFormat: "dd/mm/yy"
});
  });
</script>

<div class="form-group">
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		<legend>Editar Utilidad</legend>
		{{ formulario|bootstrap }}
		<button type="submit" class="btn btn-primary">Confirmar</button>
	</form>
</div>
{% endblock %}