{% extends 'base.html' %}
{% block contenido %}
{% load bootstrap %}
<link rel="stylesheet" href="/media/bootstrap/css/jquery-ui.css">
<link rel="stylesheet" href="/media/bootstrap/css/general.css">

<script src="/media/bootstrap/js/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
  dateFormat: "yy-mm-dd"
});
  });
</script>
<div class="text-center">
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		<legend>Agregar Recaudo a {{ prestamo.id_usuarios }}</legend>
		{{ formulario|bootstrap_horizontal }}
		<br><br>
		<button type="submit" class="btn btn-primary">Confirmar</button>
	</form>
</div>
{% endblock %}